@import '../../scss/colors.scss' ;
@import "../../scss/mixinsValues.scss";

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: $color-white;
    //   border-bottom: 2px solid $bottom;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  & h1{
    font-size: 4rem;
    font-weight: 900;
    color: $color-red;
}
  & h1:hover{
    -webkit-text-stroke-color: $color-stoke;
    -webkit-text-stroke-width: 2px;
    color: $color-white;
  } 

  & .container-box{
    flex-basis: 60%; 
    display: flex;
    flex-flow: row;
    height: 67Px;
    & .search{
      flex-basis: 40%;
      position: relative;
      & .nearby{
        position: absolute;
        top: 18px;
        right: 8px;
        height: 35px;
        width: 120px;
        background-color: $color-nearby;
        font-size: 16px;
        font-weight: 300;
        padding: 2px 5px;
        border-radius: 50px;
        @include displayProperties(row, space-around, center);
        cursor: pointer;
      }
    }
    & .dates{
      flex-basis: 27%;
      cursor: pointer;
    }
    & .rooms{
      flex-basis: 18%;
      font-size: 19px;
      border: 1px solid rgb(190, 189, 189);
    }
    & .search-btn{
      flex-basis: 15%;;
      cursor: pointer;
    }
  }
}

.ant-picker{
  height: 100%;
  width: 100%;
  font-size: 0px;
}

.ant-picker-input input{
  font-size: 20px !important;
  font-weight: 600;
  & :focus{
    outline: none !important;
  }
  & :hover{
    border: none !important;
  }
}
.ant-picker-active-bar{
display: none;
}

// cities styling

.city-list{
  padding: 23px 0;
  @include displayProperties(column, flex-start, unset);
  & p{
     width: 250px;
     padding: 5px 0px;
     font-size: 1.2rem;
     background-color: $color-nearby;
     border-left: 1px solid $color-nearby;
     border-right: 1px solid $color-nearby;
     padding:  10px;
  }
  & p:hover{
    background-color: #d9d2d2;
  }
  & p:first-child{
    border-top: 1px solid $color-nearby;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  & p:last-child{
    border-bottom: 1px solid $color-nearby;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}